{% extends "admin/base_site.html" %}
{% load i18n static dcr_icons %}

{% block title %}{% block panel_title %}{% endblock %} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
{{ block.super }}
{% if dj_cr_load_default_css %}
{% block default_panel_styles %}
<link rel="stylesheet" href="{% static 'dj_control_room_base/css/design-system.css' %}">
{% block panel_styles %}{% endblock %}
{% endblock %}
{% endif %}
{{ dj_cr_extra_css }}
{% endblock %}

{% block branding %}
{% block panel_branding %}{% endblock %}
{% endblock %}

{% block messages %}
{% if messages %}
<div style="padding: var(--dcr-space-md) var(--dcr-space-lg) 0">
  {% for message in messages %}
  {% with variant=message.tags|message_callout_variant %}
  <div class="dcr-callout{% if variant %} dcr-callout--{{ variant }}{% endif %}">
    <p class="dcr-callout__body">{{ message }}</p>
  </div>
  {% endwith %}
  {% endfor %}
</div>
{% endif %}
{% endblock %}
{% block content_title %}{% endblock %}
{% block content_subtitle %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  {% block panel_breadcrumbs %}{% endblock %}
</div>
{% endblock %}

{% block content %}
<div class="dcr-panel">
  {% block panel_content %}{% endblock %}
</div>
{% endblock %}

{% block footer %}
{{ block.super }}
{% block panel_scripts %}{% endblock %}
{% endblock %}
